<div class="home">
<h1>ようこそBookersへ！</h1>
  <div class="start">
    <p><br>Bookersでは、さまざまな書籍に関するあなたの意見や</br>
     <br>印象を共有し交換することができます</br></p>
    <a href="https://bookers.com/books">start</a>
  </div>
</div>